// Font
$mainFont: 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1100px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;
