.button {
  display: inline-block;
  padding: 0.5em 2em;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 35px;

  // default btn
  &_default {
    color: #ffffff;
    border: 1px solid #333333;
    background-color: #333333;
  }

  // primiry btn
  &_primary {
    color: #ffffff;
    border: 1px solid #494ce8;
    background-color: #494ce8;
  }

  // danger btn
  &_danger {
    color: #ffffff;
    border: 1px solid #b54040;
    background-color: #b53f3f;
  }

  &_white {
    color: #333333;
    border: 1px solid #ffffff;
    background-color: #ffffff;
  }
}
